h1#titulo{font-size: 40px;}
h1#vaga1{font-size: 30px;}
h1#vaga2{font-size: 30px;}
li{font-family: serif;}
li{font-size: 24px;}
li#listaC{font-size: 18px;}
li#listaCT{font-size: 18px;}
Body{font-size: 18px;}
